/auto-save-list/
/eln-cache/
/elpa/
/harpoon-data.el
/transient/
/.lsp-session-v1
/custom.el
/harpoon-data.el
/auto-save-list/
/elpa/
/history
/projects
/transient/
/eln-cache/
cceln-cache
.cask
elpa
auto-save-list
/eln-cache/
/transient/
/harpoon-data.el
/history
/projects
/custom.el
/history
/projects
/custom.el
/.lsp-session-v1
/*~
/history
/projects
/custom.el
/viper
/snippets/
/*untrack.el
/proj-marks-data.el
